
<mat-tab-group mat-align-tabs="center">

  <mat-tab label="UsageAnalysis" *ngIf="role =='admin'"><app-usage-analysis></app-usage-analysis></mat-tab>
  <mat-tab label="PurchaseAnalysis" *ngIf="role =='admin'"><app-purchase-analysis></app-purchase-analysis></mat-tab>
  <mat-tab label="SalesAnalysis" *ngIf="role =='admin'"><app-sales-analysis></app-sales-analysis></mat-tab>
  <mat-tab label="PlanExpiryTracking"><app-planexpirytracking></app-planexpirytracking></mat-tab>
  <mat-tab label="Registration Tracking"><app-registrationtracking></app-registrationtracking></mat-tab>

</mat-tab-group>
