<!-- Editable table -->
<div class="card">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">SMS Package List</h3>
  <div class="card-body">
    <div id="table" class="table-editable">

      <table class="table table-bordered table-responsive-md table-striped text-center">
        <tr>
          <th class="text-center">Package Name</th>
          <th class="text-center">SMS Credits</th>
          <th class="text-center">Price/SMS	</th>
          <th class="text-center">Price</th>
          <!-- <th class="text-center">GST(18%)</th>
          <th class="text-center">	Total Amount	</th> -->
          <th class="text-center">	Validity	</th>
          <th class="text-center">Action</th>
        </tr>
        <tr *ngFor="let person of personList; let id = index">
          <td>
            {{person.package_name}}
          </td>
          <td>
            {{person.package_sms_credits}}
          </td>
          <td>
            {{person.package_unit_price}}
          </td>
          <td>
            {{person.package_price}}
          </td>
          <!-- <td>
            {{person.package_gst_amount}}
          </td>
          <td>
            RS:{{person.total_package_price}}
          </td> -->
          <td>
            {{person.package_validity_in_months}} Months
          </td>
          <td>
            <span class="table-remove">
              <button type="button" mdbBtn color="success" rounded="true" size="sm" class="my-0" [routerLink]="['/paymentdetails/',person.package_id,person.package_price,person.package_gst_rate]">Proceed</button>
            </span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<!-- Editable table -->
