

<div class="container">
<div class="row">
  <div class="col-md-3">
    <button mdbBtn color="info" block="true" type="button" routerLink="/viewnotifyTemplates">View Templates</button>
  </div>
  <div class="col-md-6">
<form class="text-center border border-light p-5">
  <p class="h4 mb-4">Add Push Notification</p>
  <div class="form-group">
    <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder="Message"></textarea>
  </div>
  <button mdbBtn color="info" block="true" type="submit">ADD</button>
</form>
  </div>
</div>
</div>
