<div class="card">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Sales Analysis</h3>
<form (ngSubmit)="regform.form.valid&&getSalesData(regform.form.value)" #regform="ngForm">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <label>From Date:</label>
        <input type="date"  name="fromDate" ngModel>
      </div>
&nbsp;&nbsp;&nbsp;&nbsp;
      <div class="col-md-2">
        <label>To Date:</label>
        <input type="date" name="toDate" ngModel>
      </div>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <div class="col-md-2 mubutn">
        <input type="submit" >
      </div>

      <div class="col-md-4 mubutn">
        <img class="xlicon media " src="assets/img/xlicon.png" (click)="exportAsXLSX()">
      </div>
    </div>
  </div>

</form>

<div class="card-body">
  <div id="table" class="table-editable">

    <table class="table table-bordered table-responsive-md table-striped text-center table-media">
      <tr style="background-color: darkblue;color:white">
        <th class="text-center">
          Date</th>
        <th class="text-center">
          PackageID</th>
        <th class="text-center">PackName</th>
        <th class="text-center">AmountReceived</th>
        <th class="text-center">Payment Mode</th>
        <th class="text-center">Status</th>


      </tr>
      <tr *ngFor="let person of personList; let id = index">
        <td>{{person.txn_date| date: 'dd/MM/yyyy'}}</td>

        <td>
          {{person.package_id}}
        </td>
        <td name="name">
          {{person.package_name}}
        </td>
        <td>{{person.total_amount_paid}}</td>
        <td name="mobile">
          {{person.payment_mode}}
        </td>

        <td>
          {{person.payment_status_code}}
        </td>

      </tr>
    </table>

  </div>
</div>
</div>
