<div class="card">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">
    Registration Tracking</h3>
  <div class="container">
    <div class="row">
      <div class="col-md-6 ">
        <form (ngSubmit)="regform.form.valid&&getplanexpirycontacts(regform.form.value)" #regform="ngForm">

          <input type="date"  name="fromDate" placeholder="FromDate" ngModel>&nbsp;
          <input type="date" name="toDate" placeholder="ToDate" ngModel>&nbsp;

          <input type="submit">
        </form>
      </div>
      <div class="col-md-6 mubutn" >
        <input type="text" class="search" [(ngModel)]="searchText"  placeholder=" Search " aria-label="Search">

        <img class="xlicon media " src="assets/img/xlicon.png" (click)="exportAsXLSX()">
      </div>
    </div>
  </div>
  <div class="card-body">
    <div id="table" class="table-editable">

      <table class="table table-bordered table-responsive-md table-striped text-center table-media">
        <tr style="background-color: darkblue;color:white">
          <th class="text-center">
            Client ID</th>
          <th class="text-center">
            FullName</th>
            <th class="text-center">
              MobileNumber</th>
          <!-- <th class="text-center">District</th> -->
          <th class="text-center">Account_Type</th>
          <th class="text-center">PlanID</th>
          <th class="text-center">DateofRegn</th>
          <th class="text-center">DateofActivation</th>
          <th class="text-center">DateofExpiry</th>

          <!-- <th  class="text-center">Action
          </th> -->

        </tr>
        <tr *ngFor="let person of personList| filter: {ClientID: searchText, ClientName:searchText,  MobileNumber: searchText}; let id = index">
          <td>
            {{person.ClientID}}
          </td>
          <td>
            {{person.ClientName}}
          </td>
          <td>
            {{person.MobileNumber}}
          </td>
          <!-- <td>
            {{person.District}}
          </td> -->
          <td>
            {{person.AccountType}}
         </td>
          <td>{{person.PlanID}}</td>

          <td>
            {{person.DateofRegn| date: 'dd/MM/yyyy'}}
         </td>
         <td>
          {{person.DateofActivation| date: 'dd/MM/yyyy'}}
       </td>
       <td>
        {{person.DateofExpiry| date: 'dd/MM/yyyy'}}
     </td>

          <!-- <td>
            <a> <span class="material-icons" [routerLink]="['/client/viewDetail/',person.client_id]"   matTooltip="View Detailed"
                matTooltipClass="example-tooltip-red" aria-label="Button that shows a red tooltip">
                visibility
              </span>
            </a>
          </td> -->


        </tr>

      </table>
      <p *ngIf="message" class="text-center" style="color: red;">{{message}}</p>
    </div>
  </div>
</div>
