
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <button mat-stroked-button color="primary" routerLink="/templates/addTemplates">
        AddTemplates
        <span class="material-icons">
        add
        </span></button>
    </div>
    <div class="col-md-2">
      <button mat-stroked-button color="primary" routerLink="/templates/addTemplateType">
        AddEvents
        <span class="material-icons">
        add
        </span></button>
    </div>
<h5>CSV-Upload :</h5>
    <div class="col-md-4">

  <input type="file" name="files" id="fileName" accept=".csv" class="form-control" #uploads
      (change)="onChange(uploads.files)" multiple value="process" required />
    </div>
    <div class="col-md-2">

<button mat-raised-button color="primary" (click)="uploadtemplates()" [disabled]="!dataList">upload</button><br>
<a href="assets/img/record.csv">SampleCSV</a>
</div>

  </div>
  </div>

<br><br>
<div class="container">
  <div class="row">
    <div class="col-md-3" *ngFor="let item of data">
      <mat-card class="example-card" [routerLink]="['/templates/viewsystemtemplates/',item.event_code]" >
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{item.display_name}}</mat-card-title>

        </mat-card-header>
        <img mat-card-image [src]="item.image_filename" width="50" height="150">
        <mat-card-actions>
          <!-- <button mat-button>LIKE</button>
          <button mat-button>SHARE</button> -->
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

