<button mat-raised-button color="primary" routerLink="/campaignManage">Go Back</button>


<h4 class="text-center " style="color: darkblue">choose your Templates</h4>
<br>

<!--

<div class="container">
  <div class="row">
    <div class="col md-3">
    <ng-container   *ngFor="let templateItem of categoryArr">
        <button type="button" class="btn btn-dark-blue btn-md" (click)="selectTemplate(templateItem)">{{templateItem.template}}</button>
    </ng-container>
  </div>
    </div>

  </div> -->





<div class="container">
  <div class="row">
    <ng-container *ngFor="let templateItem of message">
    <div class="col-md-4">
      <div class="card-deck">

          <div class="card mb-4">

            <div class="card-body">

              <!--Text-->
              <h5 class="card-text">{{templateItem.message}}</h5>
              <!-- <button type="button" class="btn purple-gradient" >Select</button> -->
              <br>
              <mat-card-actions>
                <button mat-raised-button  color="warn" >Delete</button>&nbsp;
                <button mat-raised-button  color="primary" >Select</button>
                <!-- <button mat-button>SHARE</button>  -->
              </mat-card-actions>
            </div>

          </div>


      </div>
    </div>
  </ng-container>

  </div>
</div>
