<!-- Jumbotron -->
<div class="jumbotron p-0">
  <div class="avatar mx-auto white"><img src="assets/img/person.png" class="rounded-circle">
  </div>
  <!-- Card image -->
  <div class="view overlay rounded-top">
    <div class="card text-center">
      <div class="conatiner">
        <div class="row">
          <div class="col-md-6">
            <h4>Personal Details</h4>
            <ul class="list-group list-group-flush">

              <li class="list-group-item">
                <div class="list-group-item-fixed">
                  <strong class="list-group-left">ClientId</strong>:
                  <span class="list-group-right">{{personList.client_id}}</span>
                </div>
              </li>
              <li class="list-group-item">
                <div class="list-group-item-fixed">
                  <strong class="list-group-left">FullName</strong>:
                  <span class="list-group-right">{{personList.client_firstname}}{{personList.client_lastname}}</span>
                </div>
              </li>
              <li class="list-group-item">
                <div class="list-group-item-fixed">
                  <strong class="list-group-left">Email</strong>:
                  <span class="list-group-right">{{personList.user_email}}</span>
                </div>
              </li>
              <li class="list-group-item">
                <div class="list-group-item-fixed">
                  <strong class="list-group-left">MobileNumber</strong>:
                  <span class="list-group-right">{{personList.user_mobile_number}}</span>
                </div>
              </li>

              <li class="list-group-item">
                <div class="list-group-item-fixed">
                  <strong class="list-group-left">WhatsappNumber</strong>:
                  <span class="list-group-right">{{personList.client_whatsapp_number}}</span>
                </div>
              </li>
              <li class="list-group-item">
                <div class="list-group-item-fixed">
                  <strong class="list-group-left">TelegramNumber</strong>:
                  <span class="list-group-right">{{personList.client_telegram_number}}</span>
                </div>
              </li>
              <li class="list-group-item">
                <div class="list-group-item-fixed">
                  <strong class="list-group-left">City</strong>:
                  <span class="list-group-right">{{personList.client_city}}</span>
                </div>
              </li>

              <h4>Gateway Details</h4>

              <li class="list-group-item">
                <div class="list-group-item-fixed">
                  <strong class="list-group-left">SenderId 2</strong>:
                  <span class="list-group-right">{{personList.user_smsgateway_sender_id2}}</span>
                </div>
              </li>
              <li class="list-group-item">
                <div class="list-group-item-fixed">
                  <strong class="list-group-left">Route</strong>:
                  <span class="list-group-right">{{personList.user_smsgateway_route}}</span>
                </div>
              </li>
              <li class="list-group-item">
                <div class="list-group-item-fixed">
                  <strong class="list-group-left">Gateway Status</strong>:
                  <span class="list-group-right">{{personList.user_smsgateway_regn_status}}</span>
                </div>
              </li>
              <h4>Plan Details</h4>

              <li class="list-group-item">
                <div class="list-group-item-fixed">
                  <strong class="list-group-left">Account-Type</strong>:
                  <span class="list-group-right">{{personList.account_type}}</span>
                </div>
              </li>
              <li class="list-group-item">
                <div class="list-group-item-fixed">
                  <strong class="list-group-left">Act Date</strong>:
                  <span class="list-group-right">{{personList.plan_activation_date|date: 'dd/MM/yyyy'}}</span>
                </div>
              </li>
              <li class="list-group-item">
                <div class="list-group-item-fixed">
                  <strong class="list-group-left">Exp date</strong>:
                  <span class="list-group-right">{{personList.plan_expiry_date|date: 'dd/MM/yyyy'}}</span>
                </div>
              </li>
              <li class="list-group-item">
                <div class="list-group-item-fixed">
                  <strong class="list-group-left">SMS-Act-Date</strong>:
                  <span class="list-group-right">{{personList.smspackage_act_date|date}}</span>
                </div>
              </li>
              <li class="list-group-item">
                <div class="list-group-item-fixed">
                  <strong class="list-group-left">SMS-Exp-Date</strong>:
                  <span class="list-group-right">{{personList.smspackage_exp_date|date}}</span>
                </div>
              </li>

            </ul>
          </div>


          <div class="col-md-6">
            <h4>Personal Details</h4>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="list-group-item-fixed">
                  <strong class="list-group-left">Address1</strong>:
                  <span class="list-group-right">{{personList.client_address1}}</span>
                </div>
              </li>
              <li class="list-group-item">
                <div class="list-group-item-fixed">
                  <strong class="list-group-left">Address2</strong>:
                  <span class="list-group-right">{{personList.client_address2}}</span>
                </div>
              </li>
              <li class="list-group-item">
                <div class="list-group-item-fixed">
                  <strong class="list-group-left">District</strong>:
                  <span class="list-group-right">{{personList.client_district}}</span>
                </div>
              </li>


              <li class="list-group-item">
                <div class="list-group-item-fixed">
                  <strong class="list-group-left">Postoffice</strong>:
                  <span class="list-group-right">{{personList.client_postoffice}}</span>
                </div>
              </li>


              <li class="list-group-item">
                <div class="list-group-item-fixed">
                  <strong class="list-group-left">Pincode</strong>:
                  <span class="list-group-right">{{personList.client_pincode}}</span>
                </div>
              </li>


              <li class="list-group-item">
                <div class="list-group-item-fixed">
                  <strong class="list-group-left">State</strong>:
                  <span class="list-group-right">{{personList.client_state}}</span>
                </div>
              </li>
              <li class="list-group-item">
                <div class="list-group-item-fixed">
                  <strong class="list-group-left">Profession</strong>:
                  <span class="list-group-right">{{personList.client_company_name}}</span>
                </div>
              </li>

              <h4>Gateway Details</h4>


              <li class="list-group-item">
                <div class="list-group-item-fixed">
                  <strong class="list-group-left">PID</strong>:
                  <span class="list-group-right">{{personList.user_smsgateway_pid}}</span>
                </div>
              </li>
              <li class="list-group-item">
                <div class="list-group-item-fixed">
                  <strong class="list-group-left">Unicode</strong>:
                  <span class="list-group-right">{{personList.unicode}}</span>
                </div>
              </li>
              <li class="list-group-item">
                <div class="list-group-item-fixed">
                  <strong class="list-group-left">Reg-Channel</strong>:
                  <span class="list-group-right">{{personList.user_regn_channel}}</span>
                </div>
              </li>
              <h4>Plan Details</h4>

              <li class="list-group-item">
                <div class="list-group-item-fixed">
                  <strong class="list-group-left">Cross-RegStatus</strong>:
                  <span class="list-group-right">{{personList.user_cross_regn_status}}</span>
                </div>
              </li>


              <li class="list-group-item">
                <div class="list-group-item-fixed">
                  <strong class="list-group-left">SIM Allowed </strong>:
                  <span class="list-group-right">{{personList.is_sim_allowed}}</span>
                </div>
              </li>
              <li class="list-group-item">
                <div class="list-group-item-fixed">
                  <strong class="list-group-left">MIN Bal Req</strong>:
                  <span class="list-group-right">{{personList.is_min_bal_req}}</span>
                </div>
              </li>
              <li class="list-group-item">
                <div class="list-group-item-fixed">
                  <strong class="list-group-left">Account Status</strong>:
                  <span class="list-group-right">{{personList.account_status}}</span>
                </div>
              </li>
              <li class="list-group-item">
                <div class="list-group-item-fixed">
                  <strong class="list-group-left">ClientIndustry</strong>:
                  <span class="list-group-right">{{personList.client_industry}}</span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body text-center mb-3">
      <a class="btn purple-gradient btn-rounded mb-4" routerLink="/client/viewclient">Close</a>

    </div>

  </div>
