.list-group-item-fixed {
  width: auto;
}
.list-group-left {
  text-align: left;
  width: 40%;
  font-weight: bold;
  display: inline-block;
}
.list-group-right {

  width: 50%;
  display: inline-block;
}


.rounded-circle {
  border-radius: 50%!important;
  width: 10%;
}
img.rounded-circle {
  margin-left: 45%;
  margin-top: 2%;
}


