@media all and (min-width: 768px) {
  tr  {
    td {
      vertical-align: middle !important;
    }
    span {
      &:not([class]) {
        padding: 1rem 1rem;
      }
    }
  }
}
h3.card-header.text-center.font-weight-bold.text-uppercase.py-4 {
  background-color: darkslateblue;
  color: white;
}
th.text-center {
  background-color: grey;
  color: white;
}
