<button mat-stroked-button color="primary" routerLink="/card/uploadcards">
  DigitalCards
  <span class="material-icons">
  add
  </span></button>
  <button mat-stroked-button color="primary" routerLink="/card/uploaddigiProfiles">
    DigitalProfiles
    <span class="material-icons">
    add
    </span></button>

  <br><br>

  <div class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let item of cards">
        <mat-card class="example-card" >
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{item.image_title}}</mat-card-title>
            <hr>
          </mat-card-header>

         <a href="{{item.image_filename}}" target="_blank"> <img mat-card-image [src]="item.image_filename" width="50" height="150"></a>
          <mat-card-actions>
            <!-- <button mat-button>LIKE</button>
            <button mat-button>SHARE</button> -->
            <h6>Category: {{item.image_category}}</h6>

          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>

