
label {
  display: block;
  font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
  margin: .4rem 0;
}


table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}
img.xlicon {

  width: 35%;
  margin-left: 28%;
  margin-top: -3%;
  margin-bottom: -6%;
  cursor: pointer;
}
.col-md-4{
  margin-bottom: 0%;
  margin-top: -3%;
  margin-left: 74%;
}



.col-md-2.mubutn {
  margin-top: 3%;
}
