
.marginal {
  margin-left: 30%;
  width: 45%;

}
button.my-4.waves-effect.z-depth-0.bttn.btn.btn-rounded.btn-outline-info.btn-block {
  width: 40%;
  margin-left: 35%;
}


mdb-card.card {
  margin-top: 10%;
}
@media screen and (max-width: 1060px){

  .marginal.mrgset {
    width: 100%;
    margin-left: 1%;
}

.srmc {
  width: 110%;
  margin-left: -10%;
}
}
