
<div  class="marginal mrgset" >
  <mdb-card >

    <mdb-card-header class="info-color white-text text-center py-4">
      <h5>
        <strong>Change Password</strong>
      </h5>
    </mdb-card-header>



    <mdb-card-body class="px-lg-5 pt-0">


      <form class="text-center" [formGroup]="registerForm"  (ngSubmit)="changePassword()"  style="color: #757575;">


        <div class="md-form">
          <input type="email" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"  mdbInput>
          <label for="materialLoginFormEmail">New Password</label>
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
        </div>
        </div>


        <div class="md-form">
          <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" mdbInput>
          <label for="materialLoginFormPassword">Confirm Password</label>
          <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
            <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
            <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
        </div>
        </div>

        <div class="srmc">
        <button  mdbBtn color="info" outline="true" rounded="true" block="true" class="my-4 waves-effect z-depth-0 bttn" mdbWavesEffect
          type="submit" >Change</button>
        </div>

      </form>


    </mdb-card-body>

  </mdb-card>
  </div>

